<!DOCTYPE HTML>
<!--
	Müller András 2015.07.21.
	Segédeszköz Excel-bufferes programkódok generálásához.
-->
<html ng-app="excBufApp">
	<head>
		<meta charset="utf-8">
		<title>Excel-buffer forráskód generálás</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>

	<body ng-controller="MainCtrl as ctrl">
		<div class="container-fluid">
			<div class="page-header">
				<h1>C/AL-forráskód generálás Excel-bufferhez <small>mező-definíciók alapján</small></h1>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Beállítás</div>
					<div class="panel-body">
						<form id="setup" name="setupForm">
							<div class="form-group">
								<label for="variable-name">Excel-buffer változó neve</label>
								<input type="text"
									   class="form-control"
									   placeholder="Add meg az Excel-buffer változó nevét."
									   ng-model="ctrl.setup.variableName" id="variable-name" required>
							</div>
							<div class="form-group">
								<label for="table-name">Exportálandó rekordváltozó neve</label>
								<input type="text"
									   class="form-control"
									   placeholder="Add meg a rekordváltozó nevét, amiből kimenetet szeretnél készíteni."
									   ng-model="ctrl.setup.tableName" id="table-name" required>
							</div>
							<div class="form-group">
								<label for="source">Forrás</label>
								<textarea class="form-control"
										  placeholder="Másold ide a mezők definícióit."
										  rows="5"
										  ng-model="ctrl.setup.source" id="source" required></textarea>
									<p class="help-block">Az Object Designerben válaszd ki a táblát, nyisd meg a Design-felületet és a mezőlista bal felső sarkába kattintva jelöld ki az összes sort, majd használd a <kbd><kbd>Ctrl</kbd> + <kbd>c</kbd></kbd> billentyűkombinációt.</p>
							</div>
							<div class="checkbox">
								<label>
									<input id="nav2013p" type="checkbox" ng-model="ctrl.setup.nav2013p"> NAV2013+
								</label>
								<p class="help-block">Pipáld be, ha NAV2013, vagy későbbi verzióban szeretnéd az eredményt használni.</p>
							</div>
								<div class="panel panel-info">
									<div class="panel-heading">Fejléc stílus</div>
									<div class="panel-body">
										<label class="checkbox-inline">
											<input type="checkbox" id="header-bold" ng-model="ctrl.setup.headerBold"> Félkövér
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="header-italic" ng-model="ctrl.setup.headerItalic"> Dőlt
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="header-underline" ng-model="ctrl.setup.headerUnderline"> Aláhúzott
										</label>
									</div>
								</div>
								<div class="panel panel-info">
									<div class="panel-heading">Törzs stílus</div>
									<div class="panel-body">
										<label class="checkbox-inline">
											<input type="checkbox" id="body-bold" ng-model="ctrl.setup.bodyBold"> Félkövér
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="body-italic" ng-model="ctrl.setup.bodyItalic"> Dőlt
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="body-underline" ng-model="ctrl.setup.bodyUnderline"> Aláhúzott
										</label>          
									</div>
								</div>    
						</form>
					</div>
					<div class="panel-footer">
						<button class="btn btn-primary" ng-click="ctrl.transform()" ng-disabled="setup.$invalid">Mehet</button>
						<button class="btn btn-default" ng-click="ctrl.reset()">Visszaállítás</button>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">Eredmény</div>
					<div class="panel-body">
						<form id="results">
							<div class="form-group">
								<label for="result-header">Fejléc</label>
								<textarea id="result-header" class="form-control" rows="13" ng-bind="ctrl.resultHeader"></textarea>
							</div>
							<div class="form-group">
								<label for="result-body">Törzs</label>
								<textarea id="result-body" class="form-control" rows="13" ng-bind="ctrl.resultBody"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script type="text/javascript">

			angular.module('excBufApp', [])
				.controller('MainCtrl', [function($scope) {
					var self = this;

					$scope.setup = {
						variableName : '',
						tableName : '',
						source : '',
						headerBold : false,
						headerItalic : false,
						headerUnderline : false,
						bodyBold : false,
						bodyItalic : false,
						bodyUnderline : false
					};

					var oriSetup = angular.copy($scope.setup);

					$scope.transform = function() {
						var lines = setup.source.value.split('\n');
						var isNew = self.setup.nav2013p ? true : false;
						var headerBold = self.setup.headerBold ? 'TRUE' : 'FALSE';
						var headerItalic = self.setup.headerItalic ? 'TRUE' : 'FALSE';
						var headerUnderline = self.setup.headerUnderline ? 'TRUE' : 'FALSE';
						var bodyBold = self.setup.bodyBold ? 'TRUE' : 'FALSE';
						var bodyItalic = self.setup.bodyItalic ? 'TRUE' : 'FALSE';
						var bodyUnderline = self.setup.bodyUnderline ? 'TRUE' : 'FALSE';

						self.resultHeader = "";
						self.resultBody = "";

						for (var i = 1; i < lines.length; i++) {
							var fields = lines[i].split('\t');

							self.resultHeader += (i == 1 ? '' : '\n')
								+ self.setup.variableName
								+'.AddColumn(\"'
								+ self.setup.tableName
								+ '\".FIELDCAPTION(\"'
								+ (fields[2])
								+ '\"), FALSE, \'\', ' + headerBold + ', '
								+ headerItalic + ', ' + headerUnderline + ', \'\''
								+ (isNew ? (', ' + self.setup.variableName + '.\"Cell Type\"::Text);') : ');');
								
							var cellType;

							switch (fields[3]) {
								case 'Integer':
								case 'BigInteger':
								case 'Decimal':
									cellType = 'Number';
									break;
								case 'Date':
									cellType = 'Date';
									break;
								case 'Time':
								case 'DateTime':
									cellType = 'Time';
									break;
								default:
									cellType = 'Text';
							}

							self.resultBody += (i == 1 ? '' : '\n')
								+ self.setup.variableName
								+'.AddColumn(\"'
								+ (fields[2])
								+ '\", FALSE, \'\', ' + bodyBold + ', '
								+ bodyItalic + ', ' + bodyUnderline + ', \'\''
								+ (isNew
									? (', '
										+ self.setup.variableName
										+ '.\"Cell Type\"::'
										+ cellType
										+ ');')
									: ');');
						}
					};

					$scope.reset = function() {
						$scope.setup = angular.copy(oriSetup);
						$scope.setupForm.$setPristine();
					};
				}]);

		</script>

	</body>
</html>